*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
指定大文件类型 filter=lfs diff=lfs merge=lfs -text
